<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于beego2.x的实现的RBAC权限管理系统</title>
    <link href="/static/layui/css/layui.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/layui/layui.js"></script>
    <style>
        body {
            min-height: 98%;
            overflow-x: hidden;
        }
        .layui-layout-body {
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
</head>
<body class="layui-layout-body">